In [1]:
import sys

import pandas as pd

sys.path.append("../")

import hotc as hc

%load_ext autoreload
%autoreload 2

In [2]:
# Print counter locations

hc.COUNTERS

,location_code,location_name,address,latitude,longitude
0,CL15,1 Courthouse Lane (NS),"1 Courthouse Lane, Auckland Central, Auckland,...",-36.848170,174.767050
1,CL14,107 Quay St (EW),"107 Quay Street, Auckland Central, Auckland, N...",-36.842840,174.766448
2,CL19,150 K Road (EW),"150 K Road, Auckland Central, Auckland, New Ze...",-36.858145,174.760321
3,CL6,183 K Road (EW),"183 K Road, Auckland Central, Auckland, New Ze...",-36.857570,174.760141
4,CL20,19 Shortland St (EW),"19 Shortland Street, Auckland Central, Aucklan...",-36.846576,174.766946
5,CL21,2 High St (NS),"2 High Street, Auckland Central, Auckland, New...",-36.846853,174.767005
6,CL10,205 Queen St (EW),"205 Queen Street, Auckland Central, Auckland, ...",-36.849339,174.764960
7,CL5,210 Queen St (NS),"210 Queen Street, Auckland Central, Auckland, ...",-36.848837,174.765597
8,CL4,261 Queen St (NS),"261 Queen Street, Auckland Central, Auckland, ...",-36.850792,174.764556
9,CL22,297 Queen St (NS),"297 Queen Street, Auckland Central, Auckland, ...",-36.852232,174.763915
10,CL18,30 Queen St (NS),"30 Queen Street, Auckland Central, Auckland, N...",-36.844891,174.766765
11,CL3,45 Queen St (NS),"45 Queen Street, Auckland Central, Auckland, N...",-36.851258,174.764279
12,CL2,59 High St (NS),"59 High Street, Auckland Central, Auckland, Ne...",-36.848686,174.766039
13,CL23,61 Federal St (NS),"61 Federal Street, Auckland Central, Auckland,...",-36.847964,174.762729
14,CL17,7 Custom St East (EW),"7 Custom Street East, Auckland Central, Auckla...",-36.848300,174.764700
15,CL8,8 Darby St (EW),"8 Darby Street (East-West), Auckland Central, ...",-36.849564,174.764605
16,CL7,8 Darby St (NS),"8 Darby Street (North-South), Auckland Central...",-36.849558,174.764106
17,CL13,Commerce St West (NS),"Commerce Street West, Auckland Central, Auckla...",-36.844912,174.768065
18,CL9,Te Ara Tahuhu Walkway (EW),"Te Ara Tahuhu Walkway, Auckland Central, Auckl...",-36.844650,174.769645

In [6]:
# Get a daily count

%time count = hc.get_hotc("2019-09-05", period="day")
count

['2019-05-01', '2019-05-02', '2019-05-03']
CPU times: user 205 ms, sys: 187 µs, total: 205 ms
Wall time: 2.18 s

,total,total_last_year,total_average,datetime,location_code,location_name,day_total,day_total_last_year,day_total_average
0,483,329,532.25,2019-09-05 06:00:00,CL3,45 Queen St (NS),27517,30964,28517.5
1,1466,1670,1457.00,2019-09-05 07:00:00,CL3,45 Queen St (NS),27517,30964,28517.5
2,2613,2817,2651.75,2019-09-05 08:00:00,CL3,45 Queen St (NS),27517,30964,28517.5
3,1586,1928,1780.50,2019-09-05 09:00:00,CL3,45 Queen St (NS),27517,30964,28517.5
4,1672,1497,1481.00,2019-09-05 10:00:00,CL3,45 Queen St (NS),27517,30964,28517.5
...,...,...,...,...,...,...,...,...,...
19,0,0,0.00,2019-09-06 01:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
20,0,0,0.00,2019-09-06 02:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
21,0,0,0.00,2019-09-06 03:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
22,0,0,0.00,2019-09-06 04:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0
23,0,0,0.00,2019-09-06 05:00:00,CL12,Wellesley St - Bledisoe Lane (EW),0,0,0.0

In [9]:
code = hc.COUNTERS.location_code.iat[0]
count.loc[lambda x: x.location_code == code]

,total,total_last_year,total_average,datetime,location_code,location_name,day_total,day_total_last_year,day_total_average
0,14,18,10.75,2019-09-05 06:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25
1,37,42,43.50,2019-09-05 07:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25
2,74,65,79.75,2019-09-05 08:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25
3,53,51,57.75,2019-09-05 09:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25
4,62,63,54.25,2019-09-05 10:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25
5,59,64,67.50,2019-09-05 11:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25
6,116,70,88.25,2019-09-05 12:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25
7,127,95,132.00,2019-09-05 13:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25
8,50,70,93.75,2019-09-05 14:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25
9,81,76,82.00,2019-09-05 15:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25
10,82,84,89.00,2019-09-05 16:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25
11,97,77,110.50,2019-09-05 17:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25
12,77,96,94.75,2019-09-05 18:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25
13,70,73,71.00,2019-09-05 19:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25
14,31,31,48.00,2019-09-05 20:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25
15,12,25,36.25,2019-09-05 21:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25
16,10,24,27.50,2019-09-05 22:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25
17,14,34,17.50,2019-09-05 23:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25
18,7,19,9.00,2019-09-06 00:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25
19,1,11,5.50,2019-09-06 01:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25
20,2,4,4.75,2019-09-06 02:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25
21,2,5,2.00,2019-09-06 03:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25
22,8,2,6.50,2019-09-06 04:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25
23,2,5,2.50,2019-09-06 05:00:00,CL15,1 Courthouse Lane (NS),1088,1104,1234.25